.navbar-bg {
    background-color: var(--bg-color);
    background-image: url("../img/stars.svg");
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar-toggler {
    background: var(--white-color);
}

.navbar-collapse {
    flex-grow: initial;
}

.navbar-nav .nav-item .nav-link, 
.navbar-nav .nav-item .nav-link.active {
    display: inline-block;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
    position: relative;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    line-height: normal;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    font-weight: bold;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link:hover::before {
    content: '';
    position: absolute;
    top: 30px;
    width: calc(100% - 16px);
    height: 3px;
    background-color: var(--primary-color-dark);
    color: var(--white-color) !important;
    opacity: 0.5;
    animation: grow-block 0.5s ease-in-out 0.01s;
}

.logo-img,
.logo > .logo-img {
    width: 50px;
    height: 50px;
}